main {
  margin-top: 0.5%;
  margin-bottom: 0.5%;
  height: auto;
  width: 100% !important;
  /*   background-color: #30475e !important; */
  background-color: #444444 !important;
  box-shadow: 0.5rem 0.5rem darkgray, -0.5rem -0.5rem #082032 !important;
  display: flex;
}

.contenedor-formulario {
  margin-top: 3% !important;
  margin-bottom: 3% !important;
}

.formulario-clientes {
  margin-top: 2% !important;
  height: auto !important;
  /*   background-color: #2C394B; */
  padding: 5% !important;
  border-radius: 20px !important;
}

.form-styling {
  /* border-radius: 20px !important; */
  border: #082032 2px solid !important;
  /* background: rgba(255,255,255,.2) !important; */
  background: #08203267 !important;
  color: aliceblue !important;
}

.btn-enviar {
  border: #082032 2px solid !important;
  background-color: rgb(111, 99, 81) !important;
  color: aliceblue !important;
}

.informacion {
  height: auto;
  width: 70% !important;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgb(34, 32, 28) !important;
  /*   background-color: #444444 !important;
 */
}
.listado-marcas {
  background-color: #08203267 !important;
}

@media (max-width: 767px) {
  main {
    display: flex !important;
    flex-direction: column !important;
  }

  .informacion {
    width: 100% !important;
    height: 100vh !important;
  }
  .btn-enviar {
    width: 35% !important;
  }
}

@media (max-width: 991px) {
  main {
    display: flex !important;
    flex-direction: column !important;
  }

  .informacion {
    width: 100% !important;
    height: 100vh !important;
  }
  .btn-enviar {
    width: 20% !important;
  }
}
