@import url('https://fonts.googleapis.com/css2?family=Sofia+Sans:wght@300&display=swap');

*{
  box-sizing: border-box;
  font-family: 'Sofia Sans', sans-serif;
}

body {
 /*  background-color: #141e26 !important; */
 background-color: #444444 !important;
  width: auto !important;
  height: 100vh !important;
  color: white !important;
}


